*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Gabarito',sans-serif;
}
.navbar{
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid black 1px;

}
.navbar__s1__title{
    color: #B052F2;
}
.navbar__s2{
   padding: 10px;
   width: 60%;
   border-radius: 30px;
   display: flex;
   align-items: center;
   gap: 10px;
   border: solid black 1px; 
}
.navbar__s2 input{
    border: none;
    width: 100%;
    font-size:16px;
}
.navbar__s2 input:focus{
    outline: none;
}
.navbar__s3{
    display: flex;
    gap: 10px;
    align-items: center;
}
.categories{
    display: flex;
    padding: 10px;
    border-bottom: solid black 1px;
    justify-content: space-around;
}
.categories p{
    background-color: #B052F2;
    padding: 10px;
    border-radius: 30px;
    color: white;
}
.sale-img img{
    width: 100%;
}
.recommended{
    padding: 10px;

}
.recommended__container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: space-around;
}
.course-card{
    width: 300px;
    border-radius:8px;
    border: grey solid 1px;
    margin: 4px;
    padding: 20px;
    text-align: left;
}

.course-card img{
    width: 94%;
    border-radius: 18px;
    padding: 8px;
}
.topic{
    padding: 10px;
}
.topic__container{
    display: flex;
    gap: 10px;
    margin-top: 10px;
     flex-wrap: wrap;
}
.topic__title{
    padding: 5px;
}
.topic__container p{
    padding: 10px;
    border: solid grey 2px;
    flex-grow: 1;
       flex-basis: 26%;
}
.popular{
    padding: 10px;
}
.popular__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}
.footer__one__s1{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}
.footer__one__s3{
    display: flex;
    flex-direction: column;
}
.footer__one__s4{
    display: flex;
    flex-direction: column;
}

.footer__one{
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color:#2A2B3F;
    gap: 10px;

}
.footer__one p{
    margin: 20px;
}
.footer__three{
    display: flex;
    align-items: center;
    color: white;
    background-color:#202230 ;
    justify-content: space-between;
}
.footer{
     width: 100%;
    color: white;
   
}
.container{
    background-color:#F6F7F9;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
  padding-bottom: 20px;
}
.container__title{
    text-align: center;
    padding: 10px;
    font-size: 20px;
    color: #6A6F73;
}
.container__section1,.container__section2,.container__section3,.container__section4{
    display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap: 30px;
}
.container__section1 img{
    width: 50px;
    height: 50px;
}
.container__img{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-around;
}
.tutor__section{
    display:flex;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: space-around;
}
.tutor-card{
    width: 400px;
    border-radius:8px;
    border: grey solid 1px;
    margin: 4px;
    padding: 20px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}
.tutor-card img{
    width: 94%;
    border-radius: 18px;
    padding: 8px;
}
.tutor__desc{
    display: flex;
    gap: 10px;
   align-items: center;
}
.tutor-card p{
    border: solid grey 1px;
    padding: 3px;
    display: inline-block;
    border-radius: 4px;
    
}
.tutor__title,.tutor__about{
    margin-left: 30px;
    padding: 5px;
   
   
}
.course-card__desc p,.recommended__desc p{
    border: solid grey 1px;
    padding: 3px;
    display: inline-block;
    border-radius: 4px;
    margin-bottom: 2px;

}
.footer__two__s1{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}
.footer__two__s2{
    display: flex;
    flex-direction: column;
}
.footer__two__s3{
    display: flex;
    flex-direction: column;
}
.footer__two__s4{
    display: flex;
    flex-direction: column;
}
.footer__two{
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color:#202230;
    gap: 10px;

}
.footer__two p{
    margin: 20px;
}
.categories p:hover{
    background-color: white;
    color: #B052F2;
}
.highlight{
    color:#C0C4FC;
}
.footer__start{
    color:white;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    background-color: #2A2B3F;
}
.footer__start h3{
  padding: 20px;
}
.footer__img{
    display: flex;
    gap: 15px;
}
.sale__desc{
    position: absolute;
    top: 15%;
    left: 10%;
    right: 10%;
    background-color: whitesmoke;
    padding: 20px 25px;
    width: 400px;
    height: 100px;
    padding-bottom: 10px;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
}
.sale-img {
    position: relative;
}
.sale-img img{
    width: 100%;
}
.sale__desc h2{
    margin-bottom: 10px;
}
.sale__desc p{
    line-height: 1.5;
}